{% extends 'base.html' %}

{% block content %}
  <div id="main">
          <p class="title"> About Annotated News </p>
          <p class="overview">Annotated News embraces the bias of our complex world and presents to you the world not as you see it, but as others do. At a time when America’s political parties assume moral superiority, we were inspired to create a platform on which all viewpoints are presented as equally possible. We believe that people don’t hold viewpoints because they’re stupid or immoral, rather they hold them because they believe them. Our mission is to show you why. We do not claim to be unbiased. The content posted on this page will most certainly be influenced by our own backgrounds, identities and experiences. We will certainly fail to give voice to every opinion. We are resolved, however, to do our best to remove ourselves as the middlemen between the facts presented and the formulation of your opinion. This is an experiment in filling the space between the binary: liberal or conservative, Democrat or Republican, moral or immoral.</p>
  </div>
{% endblock %}
