<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annotated News</title>
    <link rel="stylesheet" type="text/css" title="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>

  <body onload="resize();">

    <div id="header">
      <div id="logoBar">
        <img id="logo" src="{{ url_for('static', filename='images/logo.PNG') }}">
      </div>

      <div id="menu">
        <a href="{{ url_for('home') }}">
          <div class="menuItem">Home</div>
        </a>
        <a href="{{ url_for('about') }}">
          <div class="menuItem">About</div>
        </a>
        <a href="{{ url_for('studyInfo') }}">
          <div class="menuItem">Study Information</div>
        </a>
        <a href="{{ url_for('study') }}">
          <div class="menuItem">About</div>
        </a>
      </div>
    </div>

    <div id="thisPage">
            <img id="smallLogo" src="{{ url_for('static', filename='images/logo.PNG') }}">
            <div id="thisPageSpacer"></div>
            <p id="thisPageText">This Page</p>
    </div>

  {% block content %}

  {% endblock %}

  </body>

</html>
